@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
/*    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;*/
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    .header{
        display: -webkit-box;
        vertical-align:middle;
    }
.header label{
    color: #4d4d4d;
    font-size: 28px;
}
.header img{
    height:50px;
}
.TitrPage{
    display:block;
    vertical-align:middle;
    margin-top:10px;
}
.TitrUser{
    display:block;
    vertical-align:middle;
    margin-top:10px;
    position: absolute;
    right: 50px;
}
.logOBtn{
    position: absolute;
    right: 0px;
}
.Content{
    display: flex;
    height: 95%;
    min-height:530px;
}
.ContentQues{
    background: deeppink;
    height: 95%;
    min-height:530px;
}
.MenuNav{
    background: #8e8d8d;
    display: block;
    width:25%;
    font-size: 28px;
    padding: 10px;
    border-radius:0 25px 0 25px;
}
.MenuNav fieldset{
    height: 520px;
}
.TabBord{
    background: #c1c1c1;
    width: 73%;
    border-radius: 25px 0 25px 0;
}
.TabBord fieldset{
    margin: 10px;
    height: 44%;
    position: relative;

}
.TabBord fieldset legend{
    font-size: 28px;
}
.TabBord .navigation{

    overflow: auto;
    height: 220px;
}
.button{
    width:130px;
    cursor:pointer;
    text-transform:capitalize;
    border-radius:12px 0 12px 0;
    background: #f5f5f5;
    border:none;
    color:#555;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
    text-align: center;
    border:1px solid #ccc;

}
.btnTst{
    position: absolute;
    top: 50%;
    left: 45%;
}
.ContentQues{
    width: 100%;
}
.ContentQues p {
    width: 75%;
}
.imgQues{
    width: 25%;
    background: cyan;
    height:75px;
}

.navigation {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1.5;
    font-size: 17px;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul {
    position: relative;
    z-index: 500;
    float: left;
}

.navigation ul li {
    float: left;
    min-height: 0.05em;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
    transition: font 0.1s;

}

.navigation ul li.hover,
.navigation ul li:hover {
    position: relative;
    z-index: 510;
    cursor: default;
    font-size: 20px;

}

.navigation ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 520;
    width: 90px;
}

.navigation ul ul li {
    float: none;
}

.navigation ul ul ul {
    top: 0;
    right: 0;
}

.navigation ul li:hover > ul {
    visibility: visible;
}

.navigation ul ul {
    top: 0;
    left: 99%;
}

.navigation ul li {
    float: none;
    border-bottom: 1px solid #ccc;
}
.navigation ul li:last-child {
    border:none;
}


.navigation {
    font-family: 'roboto', Tahoma, Arial, sans-serif;
    zoom: 1;
}

.navigation:before {
    content: '';
    display: block;
}

.navigation:after {
    content: '';
    display: table;
    clear: both;
}

.navigation a {
    display: block;
    padding: 7px 7px;
    text-decoration: none;
}

.navigation > ul {
    width: 130px;
}

.navigation ul ul {
    width: 8em;
}

.navigation > ul > li > a {
    color: #000000;
}

.navigation > ul > li > a:hover {
    color: #ffffff;
    font-weight: bold;
}

.navigation > ul > li a:hover,
.navigation > ul > li:hover a {
    background: rgba(97, 95, 95, 0.25);
}

.navigation li { position: relative; }

.navigation ul li.has-sub > a:after {
    content: '»';
    position: absolute;
    right: 1em;
}

.navigation ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.navigation ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}

.navigation ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

/*.navigation ul ul { border: 1px solid #0f0f0f; }*/

.navigation ul ul a {
    color: #000000;
    margin-left: 1.5px;
}

.navigation ul ul a:hover {
    color: #ffffff;
    font-weight: bold;
}


.navigation ul ul li:hover > a {
    background: rgba(97, 95, 95, 0.75);
    color: #ffffff;
}

.navigation.align-right > ul > li > a {
    border-right: none;
}

.navigation.align-right { float: right; }

.navigation.align-right li { text-align: right; }

.navigation.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}

.navigation.align-right ul li.has-sub > a:after { content: none; }

.navigation.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100px;
}

.navigation.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}