body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
/***********************************************************************************/
.header{
	display: -webkit-box;
	vertical-align:middle;
}
.header label{	
	color: #4d4d4d;
	font-size: 28px;
}
.header img{
	height:50px;	
}
.TitrPage{
	display:block;
	vertical-align:middle;
	margin-top:10px;
}
.TitrUser{
	display:block;
	vertical-align:middle;
	margin-top:10px;
    position: absolute;
     right: 50px;
}
.logOBtn{
    position: absolute;
    right: 0px;
 }
 .Content{
    display: flex;
    min-height:530px;
 }
 .ContentQues{
    background: #848183;
 }
 .MenuNav{
    background: #8e8d8d;
    display: block;
    width:25%;
    font-size: 28px;
    padding: 10px;
    border-radius:0 25px 0 25px;
 }
 .MenuNav fieldset{
    height: 520px;
 }
.TabBord{
    background: #c1c1c1;
    width: 73%;
    border-radius: 25px 0 25px 0;
}
.TabBord fieldset{
    margin: 10px;
    height: 44%;
    position: relative;

}
.TabBord fieldset legend{
    font-size: 28px;
}
.TabBord .navigation{

    overflow: auto;
    height: 220px;
}
.button{
    width:130px;
    cursor:pointer;
    text-transform:capitalize;
    border-radius:12px 0 12px 0;
    background: #f5f5f5;
    border:none;
    color:#555;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
    text-align: center;
    border:1px solid #ccc;

}
.btnTst{
    position: absolute;
    top: 50%;
    left: 45%;
}
.ContentQues{
    width: 98%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto 200px;
    grid-template-rows: 80px 120px 200px;
    grid-gap: 10px;
}
.ContentQues > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
  font-size: 30px;
}

.ContentRep{
    width: 100%;
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 90px 90px;
}
.ContentRep div{
    background: #969696;
    margin: 10px;
    font-size: 13px;
    position: relative;
}
.ContentRep textarea{
  width: 84%;
  height: 90%;
  top: 0;
  right: 0;
  position: absolute;
}
.inpRep{
    vertical-align: middle;
    margin: 25px 25px 0 25px;
}
.imgQues{
    background: #969696;
}
.tritrQues{
    width: 100%;
}
.tritrQues label{
    vertical-align: middle;
}
.flag{
    width: 35px;
}

.imgQues{
    grid-column: 3;
    grid-row: 1 / span 2;
}
.ContImaQues{
    max-height: 180px;
    max-width: 180px;
    margin: 10px;
}
.Question{
    grid-column: 1 / span 2;
    grid-row: 2;
}
.Question p{
    padding: 10px;
    font-size: 13px
}
.repQues{

    grid-column: 1 / span 3;
    grid-row: 3;
}
.divBtn{
  grid-column: 1 / span 3;
}
.divBtn input{
  margin: 15px;
}
.fixed {
   position: fixed;
   top: 2%;
   left:25%;
   padding:10px 10px 10px 10px;
   z-index:10000;
   font:20px verdana;
}

#grey{
   width:10000px;
   height:10000px;
   background:rgba(109, 109, 109, 0.75);;
   z-index:1000;
   position: fixed;
   top:0px;
   left:0px;
}
#imgGiant{
    max-height: 90%;
    max-width: 80%;
}
.labCrea{
  width: 200px;
}

.fieldCreaTest{
    height: 530px;
}

.lstStag{
  margin-top: 50px;
  overflow: auto;
  height: 50%;
  width: 25%;
}
.sTitr{
    color: #4d4d4d;
    font-size: 17px;
}
.ContBtn{
    position:absolute;
    bottom:10px;
    right: 10px;
}
.lstQues{
  height:500px;
  overflow: auto;
}
.lstQues div{
  width: 90%;
  font-size: 13px;
  height: 17px;
  vertical-align: middle;
  position: relative;
  margin: 5px;

}
.lstQues div img{
  height: 15px;
  right: 5px;
  position:absolute;
}

.txtarQues{
  width: 100%;
  height: 220px;
}

.TabBord_Form div{
  width:250px;
  display: inline-block;
  margin: 15px;
}
/*************************************/

.navigation {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1.5;
  font-size: 17px;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul {
  position: relative;
  z-index: 500;
  float: left;
}

.navigation ul li {
  float: left;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
    transition: font 0.1s;

}

.navigation ul li.hover,
.navigation ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
    font-size: 20px;

}

.navigation ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  width: 90px;
}

.navigation ul ul li {
    float: none;
}

.navigation ul ul ul {
  top: 0;
  right: 0;
}

.navigation ul li:hover > ul {
    visibility: visible;
}

.navigation ul ul {
  top: 0;
  left: 99%;
}

.navigation ul li {
    float: none;
    border-bottom: 1px solid #ccc;
 }
 .navigation ul li:last-child {
    border:none;
  }


.navigation {
  font-family: 'roboto', Tahoma, Arial, sans-serif;
  zoom: 1;
}

.navigation:before {
  content: '';
  display: block;
}

.navigation:after {
  content: '';
  display: table;
  clear: both;
}

.navigation a {
  display: block;
  padding: 7px 7px;
  text-decoration: none;
}

.navigation > ul {
     width: 130px;
  }

.navigation ul ul {
    width: 8em;
 }

.navigation > ul > li > a {
  color: #000000;
}

.navigation > ul > li > a:hover {
    color: #ffffff;
    font-weight: bold;
}

.navigation > ul > li a:hover,
.navigation > ul > li:hover a {
    background: rgba(97, 95, 95, 0.25);
}

.navigation li { position: relative; }

.navigation ul li.has-sub > a:after {
  content: '»';
  position: absolute;
  right: 1em;
}

.navigation ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.navigation ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.navigation ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/*.navigation ul ul { border: 1px solid #0f0f0f; }*/

.navigation ul ul a {
    color: #000000;
    margin-left: 1.5px;
 }

.navigation ul ul a:hover {
    color: #ffffff;
    font-weight: bold;
 }


.navigation ul ul li:hover > a {
  background: rgba(97, 95, 95, 0.75);
  color: #ffffff;
}

.navigation.align-right > ul > li > a {
  border-right: none;
}

.navigation.align-right { float: right; }

.navigation.align-right li { text-align: right; }

.navigation.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.navigation.align-right ul li.has-sub > a:after { content: none; }

.navigation.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100px;
}

.navigation.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.navigation.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.navigation.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

progress {
  width: 25%;
  height: 22px;
  background-color: #ffffff;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-width: 1px;   /* Epaisseur de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 3px 3px 3px 3px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
}
 
progress::-webkit-progress-bar {
    background: #f3f3f3 ;
}
 
progress::-webkit-progress-value {
    background: #ef9ea9;
}
